@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 248, 248;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/background-pattern.svg");
  background-color: rgb(var(--background-start-rgb));
}
